*{
	-webkit-tap-highlight-color:rgba(255,255,255,0);/*屏蔽ios和android下点击元素时出现的阴影*/
  	-webkit-touch-callout: none; /*长按时不触发系统的菜单*/
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,body{
	height:100%;
	margin: 0;
  	padding: 0;
  	font-size: 14px;
}
body{
	font-family:"Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;
	color:#333;
	background-color:#f8f8f8;
	overflow-x: hidden;
}

/** 设置默认字体   **/
body,h1, h2, h3, h4, h5, h6 { font-size: 100%; }
/** 重置列表元素   **/
ul, ol ,li{ list-style: none; }
/** 重置文本格式元素 **/
a ,a:hover { text-decoration: none; }
/** 重置表单元素 **/
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
button{-webkit-appearance: none;border: 0;background: 0 0;}
/* 取消表单项聚焦时产生的黄色边框  */
input,button,select,textarea {
	outline: none;
}
a,input,textarea,select {
   outline: 0;
}
/* 取消滚动条 */  
::-webkit-scrollbar{  
   width:0px;  
} 
/*输入提示文字*/
::-webkit-input-placeholder{
	font-size:16px;
	font-family: "Microsoft YaHei";
	color:#cfcfcf;
}
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/** 重置图片 **/
img { 
	margin: 0; 
	padding: 0; 
	border: none; 
	vertical-align: middle; 
}

/* 清除浮动 */
.clear:before, .clear:after { 
	content: ""; 
	display: table; 
}
.clear:after { 
	clear: both; 
}
.clear{ 
	zoom: 1; 
}


