* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: 14px;
  background: #eee;
  color: #333;

}

html,body{
    height: 100%;
    /*overflow-x:hidden;*/
}


a, input, textarea, select, button {
  outline: 0;
}

*, a {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:active {
  color: #333;
}
/** 设置默认字体   **/
body,h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}
/** 重置列表元素   **/
ul, ol ,li {
  list-style: none;
}
/** 重置文本格式元素 **/
a ,a:hover {
  text-decoration: none;
}
/** 重置表单元素 **/
fieldset, img {
  border: 0;
} /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
  font-size: 100%;
} /* 使得表单元素在 ie 下能继承字体大小 */
button {
  -webkit-appearance: none;
  border: 0;
  background: 0 0;
}
/* 取消表单项聚焦时产生的黄色边框  */
input,button,select,textarea {
  outline: none;
}

a,input,textarea,select {
  outline: 0;
}
/* 取消滚动条 */  
::-webkit-scrollbar {
  width: 0px;
} 
/*输入提示文字*/
::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: #cfcfcf;
}
/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** 重置图片 **/
img {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: middle;
}



    #app{
      height: 100%;
    }
    .v{
      min-height:calc(100vh - 50px);
    }

    .wrap{
      position:relative;
      height: 100%;
      color:#fff;
      background: #ebebeb;

    }
    .change-page .v{
      position: absolute;
      top:0;
      width: 100%;
    }
    .change-page{
       overflow-y:hidden;
    }


    ::-webkit-scrollbar {
      display: none;
    }

    /*场景切换*/
    .next-enter {
        z-index: 1002;
        -webkit-animation: pageFromRightToCenter 800ms forwards;
        animation: pageFromRightToCenter 800ms forward
    }
    .next-leave {
        z-index: 1001;
        -webkit-animation: pageFromCenterToLeft 800ms forwards;
        animation: pageFromCenterToLeft 800ms forwards
    }
    .prev-enter {
        z-index: 1001;
        -webkit-animation: pageFromLeftToCenter 400ms forwards;
        animation: pageFromLeftToCenter 400ms forward
    }
    .prev-leave {
        z-index: 1002;
        -webkit-animation: pageFromCenterToRight 400ms forwards;
        animation: pageFromCenterToRight 400ms forwards;
    }

    @-webkit-keyframes pageFromRightToCenter {
      from {
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
        opacity: .9;
      }
      to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
    @keyframes pageFromRightToCenter {
      from {
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
        opacity: .9;
      }
      to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
    @-webkit-keyframes pageFromCenterToRight {
      from {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        opacity: 1;
      }
      to {
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
        opacity: .9;
      }
    }
    @keyframes pageFromCenterToRight {
      from {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        opacity: 1;
      }
      to {
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
        opacity: .9;
      }
    }
    .page-from-center-to-left {
      -webkit-animation: pageFromCenterToLeft 400ms forwards;
              animation: pageFromCenterToLeft 400ms forwards;
    }
    .page-from-left-to-center  {
      -webkit-animation: pageFromLeftToCenter 400ms forwards;
              animation: pageFromLeftToCenter 400ms forwards;
    }
    @-webkit-keyframes pageFromCenterToLeft {
      from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      to {
        opacity: 0.5;
        -webkit-transform: translate3d(-20%, 0, 0);
                transform: translate3d(-20%, 0, 0);
      }
    }
    @keyframes pageFromCenterToLeft {
      from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      to {
        opacity: 0.5;
        -webkit-transform: translate3d(-20%, 0, 0);
                transform: translate3d(-20%, 0, 0);
      }
    }
    @-webkit-keyframes pageFromLeftToCenter {
      from {
        opacity: .5;
        -webkit-transform: translate3d(-20%, 0, 0);
                transform: translate3d(-20%, 0, 0);
      }
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
    }
    @keyframes pageFromLeftToCenter {
      from {
        opacity: .5;
        -webkit-transform: translate3d(-20%, 0, 0);
                transform: translate3d(-20%, 0, 0);
      }
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
    }