@import 'reset.scss';

.left {
  float: left;
}

.right {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: hide;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input {
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: 60px;
  line-height: 60px;
}

.btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  line-height: 80px;
  border-radius: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.guess-like-wrap {
  overflow: hidden;
  background: #f5f5f5;
  padding-bottom: 100px;

  .guess-title {
    position: relative;
    display: -webkit-box;
    margin: 28px 10px;
    color: #848689;
    font-size: 28px;
    -webkit-box-pack: center;

    &:after {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: #cbcbcb;
      transform: scaleY(0.5);
    }
  }

  .guess-layout {
    padding: 0 20px;
    background-color: #f0f2f5;
    z-index: 10;
    position: relative;
    display: block;
  }
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}