* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Unable to preventDefault inside passive event listener
// https://segmentfault.com/a/1190000008512184
// html {
// touch-action: none
// }

body {
  font-family: 'PingFang SC', -apple-system, BlinkMacSystemFont,
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a,
img {
  -webkit-touch-callout: none;
}

ol,
ul {
  list-style: none;
}

input[type='button'],
input[type='submit'],
input[type='search'],
input[type='reset'] {
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
}
